button {
    font-family: inherit;
    font-size: 16px;
    background: royalblue;
    color: white;
    padding: .5em 1em;
    padding-left: 0.9em;
    text-align: center;
    border: 2px solid royalblue;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
  }

  button:hover {
    cursor: pointer;
    background: rgb(39, 73, 175);
    border: 2px solid rgb(39, 73, 175);
  }
  
  button:active{
    background: rgb(34, 62, 146);
    border: 2px solid rgb(34, 62, 146);
  }
