button {
    font-family: inherit;
    font-size: 16px;
    background-color: var(--text-color);
    color: white;
    padding: .5em 1em;
    padding-left: 0.9em;
    text-align: center;
    border: 2px solid  var(--text-color);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
  }

  button:hover {
    cursor: pointer;
    background: rgb(84, 44, 104);
    border: 2px solid rgb(94, 46, 118);
  }
  
  button:active{
    background: rgb(84, 44, 104);
    border: 2px solid rgb(94, 46, 118);
  }
