button {
    font-family: inherit;
    font-size: 16px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    text-align: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }

  button:hover{
    cursor: pointer;
    background: rgb(72, 112, 235);
  }
  
  button:active {
  border: 1px solid grey
  }