.main-page {
    width: 100vw;
}

.home {
    padding: 13rem 0 2rem;
    height: 100vh;
    background: var(--body-gradient);
}

.home__container {
    display: grid;
    align-content: center;
    row-gap: 2.5rem;
    max-width: 1000px;
    margin: auto;
}

.home__data {
    text-align: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    margin: .75rem 0;
}

.home__button {
    margin-top: 2rem;
    display: inline-block;
    background-color: var(--text-color);
    color: var(--common-color);
    padding: .80rem 1.5rem;
    border-radius: 3rem;
    transition: .4s;
}

.home__button:hover {
    box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}

.home__img img {
    width: 230px;
    animation: floaty 1.8s infinite alternate;
}

.home__img {
    justify-self: center;
}

.home__shadow {
    width: 130px;
    height: 24px;
    background-color: hsla(38, 21%, 19%, .16);
    margin: 0 auto;
    border-radius: 50%;
    filter: blur(7px);
    animation: shadow 1.8s infinite alternate;
}

.home__footer {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    font-size: var(--smaller-font-size);
    align-self: flex-end;
}

.login__toggle {
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    gap: 0.5rem;
}

.about {
    padding: 0 0 15rem;
    width: 100%;
    background-color: #18154c;
}

.about__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about__name {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--common-color);
    max-width: 600px;
    margin: auto;
}

.about__title {
    font-size: var(--biggest-font-size);
    color: var(--common-color);
    
}

.about__description {
    display: flex;
    text-align: center;
    background-color: rgb(166, 166, 220);
    padding: 1rem;
    border-radius: 30px;
    gap: 1rem;
    width: 700px;
    margin: auto;
    position: relative;
}

.description-element {
    background-color: var(--common-color);
    padding: 1rem;
    border-radius: 30px;
    width: 400px;
    text-align: start;
}

.description-element:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.description-title {
    font-size: 25px;
    font-weight: 600;
}

.about__list {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50px;
    background-color: black;
}

.about__list-scroll {
    white-space: nowrap;
    margin: 0 5rem;
}

.about__list-li {
    display: flex;
    animation: move-words 5s infinite linear;
}

.about__list-li p {
    white-space: nowrap;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 5rem;
    letter-spacing: 1px;
    background: hsl(265, 100%, 80%);
    background: linear-gradient(to right, hsl(265, 100%, 80%) 0%, hsl(22, 100%, 84%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes move-words {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.description__me {
    position: absolute;
    bottom: -25rem;
    background-color: var(--common-color);
    padding: 1rem;
    border-radius: 30px;
    width: 600px;
    text-align: start;
    margin: auto;
    box-shadow: rgba(25, 7, 84, 0.24) 0px 15px 20px;
    left: 7%
}

.me__author {
    display: flex;
    padding-top: 2rem;
    align-items: center;

}

.author-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.author-data {
    padding-left: 20px;
}

.author-name {
    font-weight: 600;
}

.author-profession {
    font-size: 14px;
    color:grey;
    font-weight: 300;
}

.start{
    padding-top: 15rem;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.start__title{
    font-size: var(--biggest-font-size);
    margin: .75rem 0;
}

.button-start{
    width:100px;
    margin: auto;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .home {
        padding-top: 7rem;
    }
}


/* For large devices */
@media screen and (min-width: 1024px) {
    .home__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }

    .home__data {
        text-align: initial;
    }

    .home__img img {
        width: 400px;
    }

    .home__shadow {
        width: 250px;
        height: 40px;
    }
}



/* Animate ghost */
@keyframes floaty {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes shadow {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(.85, .85);
    }
}