.folders {
    height: 100vh;
    background-color: white;
    width: 15rem;
    border: 1px solid rgb(192, 190, 190);
    transition: transform 0.5s;
    position: fixed;
}

.folders__list {
    display: flex;
    flex-direction: column;
    padding: 5rem .5rem .5rem;
    height: 100%;
    overflow: auto;
}

.folders__list::-webkit-scrollbar {
    display: none;
}

.folders__list-item {
    padding: 10px 4px;
    border-radius: 5px;
    border: 2px solid white;
    position: relative;
}

.folders__list-item:hover {
    border: 2px solid rgb(94, 46, 118);
    cursor: pointer;
}

.folders__button {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.add-folder-button {
    margin-right: 7px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.add-folder-button:hover path {
    fill: white;
}

.add-folder-button:hover {
    cursor: pointer;
    background-color: rgba(173, 184, 194, 1);
}

.add-folder-button-svg {
    width: 20px;
    height: 20px;
}

.folders__items-hidden {
    display: none;
}

.folders__items {
    display: block
}

.move-left {
    transform: translateX(-100%);
}

.arrows-button {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-left: 30px;
    position: absolute;
    top: 70px;
    left: 14rem;
    padding: 10px 5px;
    border-radius: 5px;
}

.arrows-button:hover {
    cursor: pointer;
}

.arrow {
    width: 0;
    height: 0;
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotateZ(135deg) translateY(0px);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.59, 1.39, .37, 1.01);
}

.arrow-one {
    top: 23px;
    left: 25px;
}

.arrow-two {
    top: 23px;
    left: 32px;
}

.left-one {
    transform: rotateZ(-45deg) translateY(2px);
    left: 35px;
}

.left-two {
    transform: rotateZ(-45deg) translateY(2px);
    left: 42px;
}